.ref {
    font-style: italic;
    font-size: small;
}
.kw-search {
    width: 50% !important
}

@media only screen and (max-width: 580px){
    .kw-search {
        width: 90% !important;
    }   
    .search-result {
        margin-right: -2rem!important;
        margin-left: -2rem!important
    }
    .small-h4 {
        font-size: medium;
    }

    .small-h1 {
        font-size: 1.7rem;
        font-weight: bold;
        padding-inline: 10px;
    }   
    /* .blog-text {
        margin-right: 10px!important;
        margin-left: 10px!important;
    } */
}