<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <title>{{article[4]}}</title>

    
</head>
<body>

    <container class="text-center container">
        <h1 class="">And here it is...</h1>
    <p class='pb-2 pt-2 text-center'><a href="{{url_for('home')}}">Back to home</a></p>

    </container>



    <div class="container pt-2 mt-2 mb-2 bg-light border">
        <div class="row ">
            <div class="col-md-6 px-3 pb-5 pt-2">
                <h4>
                    {{article[0]}}
                </h4>
                <p>
                    {{article[1]}}
                </p>
                <a class="ref">
                    {{article[2]}}
                </a>
            </div>
            <div class="col-md-6 px-3 pb-5 pt-2">
                <h4>
                    {{article[4]}}
                </h4>
                <p>
                    {{article[5]}}
                </p>
                <a class="ref">
                    {{article[3]}}
                </a>
            </div>
        </div>
    </div>
    <container class="text-center container">
        <h4 class="small-h4">search for an article by key word</h4>
        <div class="container">
        <div class="row pt-5 ">
            <form class=" input-group mx-auto col-xs-10 kw-search" method="POST" action="{{url_for('kw_search')}}">
                <input type="text" class="form-control" name="inpt" placeholder="Enter Key-word (e.g 'Abe', 'Asahi', 'Tokyo')" aria-label="key-word" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <!-- <input   class="col-md-3 col-sm-3 col-xs-3 btn btn-secondary" type="submit" value="Submit Answer"> -->

                    <button class="btn btn-outline-secondary" type="submit" >Button</button>
                </div>
            </form>
        </div>
        </div>
            
    </container>    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>